html {
    background: rgb(0, 0, 0);
      font-family: arial
}


.couverture {
  z-index: 2;
    position: absolute;
    margin-top: -10%;
    height: 1000px;
    width: 2000px;
    background-color: black;
    opacity: 1;
}


.L {
    font-weight: 600;
  z-index: 0;
  position: absolute;
  margin-left: 6%;
  margin-top: 12%;
  font-size: 400px;
color: rgb(90, 95, 83);
}

.E {
    font-weight: 600;
    z-index: 0;
  position: absolute;
  margin-top: 12%;
  font-size: 400px;
  margin-left: 19%;

color: rgb(90, 95, 83);
/*   color: rgb(90, 95, 83); */
}


.T {
    font-weight: 600;
    z-index: 0;
  position: absolute;
  margin-top: 12%;
  font-size: 400px;
  margin-left: 35%;

color: rgb(90, 95, 83);

}

.G2 {
    font-weight: 600;
    z-index: 0;
  position: absolute;
  margin-top: 12%;
  font-size: 400px;
  margin-left: 52.25%;

color: rgb(90, 95, 83);

}

.O {
    font-weight: 600;
    z-index: 0;
  position: absolute;
  margin-top: 12%;
  font-size: 400px;
    margin-left: 71%;
color: rgb(90, 95, 83);

}

svg {
  z-index: 2000;
  position: absolute;
  margin-top: 10%;
  margin-left: 22%;
  opacity: 0
}


/* 
.line1 {
  position: absolute;
  animation:linear marqueelike 20s infinite ;
}

.line2 {
  position: absolute;
  animation:linear marqueelikeReverse 20s infinite ;
}

@-webkit-keyframes marqueelike {
 	100%, 0% {margin-left:0;}
 	99.99% {margin-left:-100%;}
 }




 @-webkit-keyframes marqueelikeReverse {
 	0%, 100% {margin-left:0;}
 	99.99% {margin-left:-100%;}
 } */


/* .path {
  stroke-dasharray: 300;
   stroke-dashoffset: 300;
   animation: offset 2s infinite  linear forwards;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}

 */


h1 {
  font-family: Helvetica;
  font-size: 20px;
}


/* // FIRST LINES  */


  #FirstLineTop {
      stroke-width: 5px;
  stroke: white
  }

  #MiddleLineTop {
      stroke-width: 5px;
  stroke: white
  }

    #LastLineTop {
      stroke-width: 5px;
  stroke: white
  }

      #TopLineBottom {
      stroke-width: 5px;
  stroke: white
  }

      #BottomLineBottom {
      stroke-width: 5px;
  stroke: white
  }

        #MiddleLineBottom {
      stroke-width: 5px;
  stroke: white
  }


  /* // REST LINES  */

#TopLineBottomThen {
  stroke-width: 5px;
  stroke: white;
    fill: white;
  opacity: 0
  }

#BottomLineBottomThen {
  stroke-width: 1px;
    opacity: 0;
      fill: white;
      stroke: white;
  }

#MiddleLineBottomThen {
  stroke-width: 5px;
  stroke: white;
    fill: white;
    opacity: 0
  }

#FirstLineTopThen {
  stroke-width: 5px;
  stroke: white;
    fill: white;
    opacity: 0
  }

#LastLineTopThen {
  stroke-width: 5px;
  stroke: white;
    fill: white;
    opacity: 0
  }

#MiddleLineTopThen {
  stroke-width: 5px;
  stroke: white;
  fill: white;
    opacity: 0
  }


  .FirstLeft {
    stroke-width: 1px;
    stroke: rgb(255, 0, 242);
  }

    .FirstRight {
    stroke-width: 1px;
    stroke: rgb(255, 0, 242);
  }

    .SecondLeft {
    stroke-width: 1px;
    stroke: rgb(64, 255, 80);
  }

    .SecondRight{
    stroke-width: 1px;
    stroke: rgb(64, 255, 80);
  }

    .ThirdLeft {
      stroke-width: 1px;
      stroke: rgb(49, 214, 255);
  }

  .ThirdRight {
    stroke-width: 1px;
    stroke: rgb(52, 255, 255);
  }

/*   added class Third  */

  .FourthLeft {
    stroke-width: 0.5px;
    stroke: rgb(174, 0, 255);
  }


  .FourthRight {
    stroke-width: 1px;
    stroke: rgb(174, 0, 255);
  }


    .FifthLeft {
        stroke-width: 1px;
stroke: rgb(217, 255, 0);
  }


      .FifthRight {
            stroke-width: 1px;
/*     stroke: rgb(0, 238, 255); */
stroke: rgb(200, 255, 0);
  }