html {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

svg {
  margin-top: 3.9%;
  margin-left: 6%;
}

/* .path {
  stroke-dasharray: 300;
   stroke-dashoffset: 300;
   animation: offset 2s infinite  linear forwards;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}

 */

 svg {
   opacity: 0
 }

h1 {
  font-family: Helvetica;
  font-size: 20px;
}


/* // FIRST LINES  */


  #FirstLineTop {
      stroke-width: 5px;
  stroke: white;
  }

  #MiddleLineTop {
      stroke-width: 5px;
  stroke: white;
  }

    #LastLineTop {
      stroke-width: 5px;
  stroke: white;
  }

      #TopLineBottom {
      stroke-width: 5px;
  stroke: white;
  }

      #BottomLineBottom {
      stroke-width: 5px;
  stroke: white;
  }

        #MiddleLineBottom {
      stroke-width: 5px;
  stroke: white;
  }


  /* // REST LINES  */

#TopLineBottomThen {
  stroke-width: 5px;
  stroke: white;
  opacity: 0
  }

#BottomLineBottomThen {
  stroke-width: 1px;
    opacity: 0
  }

#MiddleLineBottomThen {
  stroke-width: 5px;
  stroke: white;
    opacity: 0
  }

#FirstLineTopThen {
  stroke-width: 5px;
  stroke: white;
    opacity: 0
  }

#LastLineTopThen {
  stroke-width: 5px;
  stroke: white;
    opacity: 0
  }

#MiddleLineTopThen {
  stroke-width: 5px;
  stroke: white;
    opacity: 0
  }


  .FirstLeft {
    stroke-width: 1px;
  }

    .FirstRight {
    stroke-width: 1px;
  }

    .SecondLeft {
    stroke-width: 1px;
        stroke: rgb(101, 107, 76);
  }

    .SecondRight{
        stroke-width: 1px;
    stroke: rgb(206, 214, 194);
  }

    .ThirdLeft {
            stroke-width: 1px;
    stroke: rgb(140, 151, 112);
  }

  .ThirdRight {
            stroke-width: 1px;
    stroke: rgb(197, 209, 167);
  }

/*   added class Third  */

  .FourthLeft {
    stroke-width: 0.5px;
    stroke: #737373
  }


  .FourthRight {
    stroke-width: 1px;
        stroke: #404040
  }


    .FifthLeft {
        stroke-width: 1px;
        stroke: white;
  }


      .FifthRight {
            stroke-width: 1px;
/*     stroke: rgb(0, 238, 255); */
       stroke: white;
  }